body{
    background-color:rgb(146, 185, 237);
    text-align: center;
}
form{
    background-color:rgb(90, 159, 180);
    font-weight:bold;
    font-size: large;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 2px 5px 10px black ;
    text-align:justify; 
   }
   